.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
 
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
